{{#each this}}
<li class="member">
	<a class="member-link" href="{{git}}"><img src="{{photo}}" alt="{{name}}"></a>
	<div class="member-info">
		<p>{{name}}</p>
		<p class="team-role">{{role}}</p>
	</div>
</li>
{{/each}}